@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 20px/1.5 "Kode Mono", sans-serif;
    background-color: #c0bdbb;
    padding: 2em;
}

h1 {
    color: white;
    margin-bottom: 1em;
    flex: 100%;
}

.site {
    margin: 2em auto;
    max-width: 900px;
}

.signup {
    background-color: #24333c;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
    border-radius: 0.3em;
}

header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

header p {
    padding: 1em;
    margin-bottom: 2em;
}

header p:nth-child(1) {
    background-color: #1ab089;
    flex: 1 0 50%;
    color: white;
}

header p:nth-child(2) {
    background-color: #435258;
    flex: 1 0 50%;
    color: #9aa291;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

input {
    background-color: #24333c;
    padding: 10px;
    border: 1px solid lightgray;
    color: lightgray;
    font: inherit;
    font-size: 25px;
}

form input:nth-child(1) {
    flex: 1 1 40%;
}

form input:nth-child(2) {
    flex: 1 1 auto;
}

form input:nth-child(3) {
    flex: 1 100%;
}

form input:nth-child(4) {
    flex: 1 100%;
}

form input:nth-child(5) {
    flex: 1 100%;
    padding: 10px;
    background-color: #1ab089;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

form input:not(:last-child) {
    margin-bottom: 2em;
}

header p:nth-child(2):hover {
    background-color: #169b77;
    color: white;
    cursor: pointer;
}
