div {
    margin: 4em auto;
    padding: 2em;
    max-width: 900px;
    border: 2px solid lightgray;
    border-radius: 0.5%;
}

html {
    font-family: 'Lato', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.blog p:first-of-type {
    font-size: 1.2em;
    font-weight: 400;
}

.blog :last-child {
    font-style: italic;
}